.Images-upload {
    button {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 100%;
      background: transparent;
      border: 0;
    }
  }
  .Editable-item-toolbar{
    position: absolute;
    z-index: 1;
  }