/*input Nao*/
.input {
  position: relative;
  margin: 1em;
  width: calc(100% - 2em);
}
.input--nao {
  overflow: hidden;
}
.input__field:focus {
  outline: none;
}
.input__field--nao {
  padding: 0.5em 0em 0.25em;
  width: 100%;
  background: transparent;
  font-size: 1.25em;
}
.input__field {
  position: relative;
  display: block;
  float: right;
  padding: 0.8em;
  width: 60%;
  border: none;
  background: #f0f0f0;
  font-weight: 400;
}
.input__label--nao {
  font-size: 100%;
  padding: 0em;
  pointer-events: none;
  transform-origin: 0 0;
  transition: transform 0.2s 0.15s, color 1s;
  transition-timing-function: ease-out;
}

.input__label {
  display: inline-block;
  float: right;
  padding: 0 1em;
  width: 40%;
  color: #696969;
  font-weight: bold;
  font-size: 150%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.input__field--nao:focus + .input__label--nao,
.input--filled .input__label--nao {
  color: #333;
  -webkit-transform: translate3d(0, -0.25em, 0) scale3d(0.75, 0.75, 1);
  transform: translate3d(0, -0.25em, 0) scale3d(0.75, 0.75, 1);
}
svg:not(:root) {
  overflow: hidden;
}
.graphic--nao {
  stroke: #92989e;
  pointer-events: none;
  -webkit-transition: -webkit-transform 0.7s, stroke 0.7s;
  transition: transform 0.7s, stroke 0.7s;
  -webkit-transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
  transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
}

.graphic {
  position: absolute;
  top: 0;
  left: 0;
  fill: none;
}
.input__field--nao:focus ~ .graphic--nao,
.input--filled .graphic--nao {
  stroke: #333;
  -webkit-transform: translate3d(-66.6%, 0, 0);
  transform: translate3d(-66.6%, 0, 0);
}

